@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Satisfy&display=swap');

body {
    font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
    font-size: 15px;
    background-color: #F2F2F2;
    visibility: hidden;
}

button {
    background-color: #B6D094;
}

.canto {
    display: none;
}

.navbar-brand {
    font-size: 40px;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: white;
    color: rgb(90, 117, 54);
}

.jumbotron a, li {
    font-size: 20px;
}

.jumbotron h2, h3, h4, strong, .card-text {
    color: rgb(29, 66, 17);
}

.navbar {
    background-color: #B6D094;
}

.navbar-brand {
    font-size: 3.5rem;
}

.title {
    font-family: 'Ma Shan Zheng', cursive;
}

.sub-title {
    font-family: 'Satisfy', cursive;
    font-size: x-large;
}

.user_nav ul li {
    background-color: #B6D094;
    padding-left: 8px;
    padding-right: 8px;
}

.user_nav ul li:hover {
    background-color: #A6BE87;
}

.list-group-item.active {
    background-color: #85986C;
    border-color: #85986C;
}

.user_nav ul li a {
    color: #13262F;
    font-size: 20px;
}

.logo-img {
    -webkit-filter: drop-shadow(1px 1px 0 black) 
                    drop-shadow(-1px -1px 0 white);
    filter:drop-shadow(1px 1px 0 black) 
           drop-shadow(-1px -1px 0 white);
    max-height: 150px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

footer {
    background-color: #B6D094;
}